.bar {
    height: 69px;
    width: 100%;
    border: 1px solid;
    background-color: #004274;
    margin: auto;
    display: flex;
    justify-content: space-around;



}

.bar1 {
    color: #ffffff;
    font-family: "Jost", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    border: none;
}


ul {
    display: flex;
    gap: 20px;
    list-style-type: none;

}

.btn {
    border-radius: 4px;
    height: 46px;
    width: 100px;
    border-color: #BECCD6;
    background-color: #fff;

}

.btn1 {
    background: #00AEFF;
    border: 1px solid #00AEFF;
    color: #fff !important;
    font-size: 18px;
    font-weight: 400;
    border-radius: 4px;
    height: 46px;
    width: 100px;
}

.btn2 {
    background: #004274;
    text-align: center;
    color: #fff;
    border: none;


    font-weight: 400;
    text-transform: capitalize;
    font-size: 18px;

    cursor: pointer;
}

.menu {
    font-size: 20px;
    height: 54px;
    padding: 6px;
    background-color: #4c4c4c;
    display: none;

}

.menu_btn {
    background-color: black;
    float: right;
    color: white;
    padding: 7px;
    border-radius: 8px;
    height: 40px;


}

@media (max-width:950px) {
    .menu {
        display: block;
        display: block;
        margin: auto;
        width: 75%;

    }

    .bar1 {
        display: none;
    }

}


.bar2 {
    height: 69px;
    width: 100%;
    border: 1px solid;
    background-color: #ffffff;
    border: none;
    margin-top: 15px;
    margin-bottom: -8px;


}

.bar2_ {
    display: flex;
    gap: 20px;
    margin: auto;
    border: 1px solid;
    width: 70%;
    border: none;

}

.input {
    border: 1px solid #BECCD6;
    height: 41px;
    width: 450px;

    border-radius: 4px;

}

.input2 {

    background-color: #ffffff;
    border: none;
    margin-top: 10px;
}

.page1 {
    height: 600px;
    width: 100%;
    border: 1px solid;
    background-image: url(../konato/image/hero1.jpg);
    background-repeat: no-repeat;
    background-position: center;

}

.page1_contan {
    border: 1px solid;
    height: 250px;
    width: 464px;
    margin-top: 103px;
    margin-left: 63px;
    text-align: justify;
}

.head {
    font-size: 20px;
    font-weight: 500;
    color: #fff;


}


.page2 {

    height: 600px;
    width: 100%;
    border: 1px solid;
    background-color: #ffffff;



}

.image {
    height: 420px;
    width: 1020px;
    border: 1px solid;
    display: flex;
    gap: 20px;
    margin: auto;
}

.details {
    border: 1px solid;
    width: 500px;
    height: 125px;
    margin: auto;
    text-align: center;
}




.subbox {
    height: 375px;
    width: 320px;
    border: 1px solid blue;



}

.page3 {
    height: 550px;
    width: 100%;
    border: 1px solid;
    background-position: center;
    background-image: url(../konato/image/im2.webp);
    background-repeat: no-repeat;
}

.box1 {
    height: 337px;
    width: 1038px;
    display: flex;
    border: 1px solid red;
    margin: auto;
}

.box2 {
    height: 300px;
    width: 336px;
    border: 1px solid greenyellow;
    background-color: #00A0EB;

    text-align: center;

}

.page4 {

    height: 600px;
    width: 100%;
    border: 1px solid;
    background-color: #ffffff;



}

.page5 {
    height: 550px;
    width: 100%;
    border: 1px solid;
    background-color: #f2f4f8;
    display: flex;
}

.types {
    height: 350px;
    width: 360px;
    border: 1px solid;
}

.types2 {
    border: 1px solid;
    height: 200px;
    width: 70%;
    display: flex;
}

.design {
    height: 150px;
    width: 170px;
    border: 1px solid;
}



.page6 {
    height: 550px;
    width: 100%;
    border: 1px solid;
    background-color: #ffffff;
}

.agents {
    border: 1px solid;
    height: 150px;
    width: 500px;
    margin: auto;
    text-align: center;
}

.agent {
    border: 1px solid red;
    display: flex;
}

.agents_details {
    height: 360px;
    width: 250px;
    border: 1px solid;
}

.page7 {
    border: 1px solid;
    height: 450px;
    width: 100%;
    display: flex;

}

.btn3 {
    background: #00AEFF;
    padding: 10px 30px;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 400;
    border-radius: 4px;
}

.sub {
    border: 1px solid;
    height: 433px;
    width: 50%;
}

.sub1 {
    border: 1px solid;
    height: 433px;
    width: 50%;
}

.page8 {
    border: 1px solid;
    height: 450px;
    width: 100%;


}